ul li{
    padding: 2px;
    margin: 2px;
    color: darkcyan;
    background-color:yellow;
    display: inline;
    border-color: tomato;
    border-style: dashed;
}


a {
    text-decoration: none;
}



a{
    text-decoration: none;
}